body {
   background: #111111;
   overflow: none;
}
.bg-purple {
   background: #5916f3;
}
.text-purple {
   color: #5916f3;
}
.bg-purple-grad {
   background: rgb(89, 22, 243);
   background: linear-gradient(
      90deg,
      rgba(89, 22, 243, 1) 0%,
      rgba(173, 12, 194, 1) 55%
   );
}
.text-gray {
   color: #d1d1d1;
}
.bg-darc2 {
   background: #111111;
}
.bg-darc {
   background: #0a0a0a;
}

.intro {
   background: url("/public/spk2.jpeg") no-repeat;
   background-size: cover;
}
.intro .bg-con {
   background: #0000008a;
   backdrop-filter: blur(4px);
}
.intro .wrapper {
   display: flex;
   align-items: center;
   min-height: 60vh;
}
.intro .doings {
   color: lightcyan;
}
.intro h1:first-child {
   color: #fff;
}
.intro h1.s1,
.s3 {
   transform: translateX(-100vw);
}
.intro h1.s2 {
   transform: translateY(-90vh);
}
.intro .btn {
   background: #131313;
   border: 1px solid #4d4c4c;
   font-weight: bold;
   margin: 10px 0px;
   color: #fff;
   padding: 10px 20px;
}
.intro .btn-cyan {
   margin-right: 20px;
   background: #5916f3;
   color: #000;
}
.intro img {
   width: 400px;
}
.s1 {
   animation: s1 1s forwards;
}
.s2 {
   animation: s2 1s forwards 1s;
}
.s3 {
   animation: s3 1s forwards 1.7s;
}
.s4 {
   transform: translateX(100vw);
   animation: s4 1s forwards 1.3s;
}
.btn {
   border-radius: 20px 0px 20px 0px;
}
@keyframes s1 {
   0% {
      transform: translateX(-100vw);
   }
   100% {
      transform: translateX(0vw);
   }
}
@keyframes s2 {
   0% {
      transform: translateY(-80vh);
   }
   100% {
      transform: translateY(0vh);
   }
}
@keyframes s3 {
   0% {
      transform: translateX(-100vw);
   }
   100% {
      transform: translateX(0vw);
   }
}
@keyframes s4 {
   0% {
      transform: translateX(90vw);
   }
   100% {
      transform: translateX(0vw);
   }
}

.about {
   padding: 100px 0px;
}
.about .abt-con {
   /* background: url('../public/aic.jpeg') no-repeat; */
   background: #0a0a0a;
   background-size: cover;
   border-radius: 20px;
}
.about .abt-head {
   padding: 5px 0px;
}
.about span {
   font-weight: bold;
   font-size: 22px;
}

.about .wrapper {
   padding: 50px 20px;
   border-radius: 20px;
}
.about .abt-img img {
   display: none;
}
.about .cc {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0px;
}
.about .abt-icon {
   padding: 10px 40px;
   background: #0a0a0a;
   border-radius: 10px;
   text-align: center;
}
.about .abt-icon i {
   font-size: 40px;
}
.about .abt-icon span {
   color: lightcyan;
   font-size: 14px;
}

.contact {
   padding: 50px 0px;
}

.contact .s-head,
.contact .c-form-head {
   padding: 10px 0px;
}
.contact .s-head small {
   color: lightcyan;
}
.contact ul {
   padding: 0;
}
.contact a {
   display: block;
   text-decoration: none;
   color: lightcyan;
   text-transform: uppercase;
   margin: 10px 0px;
}
.contact i {
   background: #5916f3;
   padding: 2px 5px;
   border-radius: 5px;
   color: white;
}
.contact input,
.contact textarea {
   background: #191919;
   border-collapse: collapse;
   /* border: 1px solid #00a8d2; */
   border: none;
   padding: 10px 20px;
   margin: 10px 0px;
   color: #888888;
}
.contact input:first-child {
   border-right: 10px solid #111111;
}
.contact textarea {
   width: 100%;
}
.contact .btn {
   width: 100%;
   background: #5916f3;
   font-weight: bold;
   color: #fff;
}

@media (max-width: 767px) {
   .intro img {
      display: none;
   }
   .intro .wrapper {
      align-items: center;
      justify-content: center;
      /* background: green; */
      min-height: 0px;
      padding: 100px 0px;
   }
   .about .abt-img img {
      display: block;
      width: 150px;
   }
   .contact input:first-child {
      border-right: none;
   }
}

.footer {
   background: #191919;
   color: #000;
}
.footer .col-12 {
   display: flex;
   padding: 10px 0px;
   justify-content: space-between;
   align-items: center;
   color: #fff;
}
.footer small {
   color: #505050;
}
.footer small a {
   text-decoration: none;
   font-weight: bold;
   color: #5816f35e;
}

/* Header */
.header .container {
   border-bottom: 1px solid #3e3e3e;
   padding: 10px 0px;
   overflow-x: hidden;
}
.header a {
   color: #dcdcdc;
   text-decoration: none;
}
@media (max-width: 995px) {
   .header .menu-con ul {
      position: absolute;
      display: block !important;
      z-index: 10;
      background: #0a0a0a;
      right: 0;
      top: 80px;
      width: 50vw;
      padding: 5px;
      border-radius: 10px;
      transform: translateY(-100vh);
      transition: 0.5s ease;
   }
   .header .menu-con ul.show {
      transform: translateY(0vh);
      transition: 0.5s ease;
   }
   .header .menu-con ul li {
      width: 100%;
      padding: 10px;
      transition: 0.5s ease;
   }
   .header .menu-con ul li:hover {
      background: #5916f3;
   }
   .intro .img-con {
      display: none;
   }
}

/* contact */
.contact .card {
   background: #0a0a0a;
}
.contact .card .c-icon {
   border-radius: 50%;
   border: 1px solid #505050;
   padding: 8px 15px;
   box-shadow: 0px 0px 20px #5916f3;
}

/* footer  */
.text-right {
   text-align: right;
}

.payment {
   z-index: 10;
   background: #00000038;
   backdrop-filter: blur(10px);
}
.new {
   font-size: 8px;
}

/* Admin Dashboard */
.admin-dashboard .card {
   border: 1px solid #5916f3;
   border-radius: 20px;
}
.admin-dashboard .row {
   min-height: 70vh;
   align-items: center;
}

/* BreadCrumb */
.bc img {
   width: 50px;
   border-radius: 50%;
   border: 2px solid #fff;
}